<p id="notice"><%= notice %></p>
<div class="row bg-light-grey mg-top-15">
  <div class="col-sm-12">
    <h1>Liste des options modifiables</h1>
  </div>
</div>

<div class="row bg-light-grey mg-top-15">
  <div class="col-sm-6 mg-top-15">
    <table class="table table-hover">
      <thead>
      <th>Catégorie</th>
      <th><%= "Valeur" unless params[:action] == 'index'  %></th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
        <% if params[:action] == 'index' %>
              <% @sorted_options.each do |selectable| %>
                 <tr>
                  <td><%= link_to by_category_selectables_path(category: selectable[:category]) do %><%= selectable[:value] %><% end %></td>
                 </tr>
              <% end %>
        <% end %>
        <% if params[:action] == 'selectable_by_category' %>
              <% @selectables.each do |selectable| %>
                 <tr>
                    <td><%= link_to selectable do %><%=t selectable.category %><% end %></td>
                    <td><%= link_to selectable do %><%= selectable.value %><% end %></td>
                    <td><%= link_to 'Afficher', selectable %></td>
                    <td><%= link_to 'Modifier', edit_selectable_path(selectable) %></td>
                    <td><%= link_to 'Supprimer', selectable, method: :delete, data: { confirm: "Supprimer l'option?" } %></td>
                 </tr>
              <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 mg-top-15">
      <h4>Informations:</h4>
      <p style="text-align:justify;">Les options sont conçues pour vous donner plus de liberté dans les choix des listes déroulantes dans votre application.</p>
      <p style="text-align:justify;">Les options d'origine comme par exemple les catégories générales peuvent parfois apparaître en anglais dans cette partie d'Hestia. Elles sont normalement traduites dans le reste de l'application.Les options générales ne devraient être modifiées que par votre programmeur. La catégorie générale est particulière, après la création d'une catégorie générale l'application doit généralement être redémarrée. Si vous ajoutez une catégorie générale et que vous voyez apparaître son nom précédé de "translation missing", entrez en contact avec votre programmeur pour qu'il mette en place la traduction. Malgré cet affichage cela ne changera pas le comportement de l'application.Veuillez n'ajouter des options générales que si vous savez parfaitement ce que vous faites. Les autres options sont à votre disposition.</p>
    </div>
<span class="pull-right"><%= will_paginate @selectables, class: "square_pagination" %><br /></span>
</div>

<%= render "menu_top" %>