<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("Selectable type") %>:</strong>
  <%= @selectable.category %>
</p>

<p>
  <strong><%= t("Selectable value") %>:</strong>
  <%= @selectable.value %>
</p>

<%= render "menu_top" %>